body{
  font-family:'Lucida Grande';
  margin:0;
  padding:0;

  
}
.title{
  padding-top:100px;
  font-size: 144px;
  text-align: center;
  font-weight: bold;
  background: orange;
  color: #fff;
}
.podshover{
  margin:0 auto;
  margin-left: 50px;
  padding-bottom: 100px;
}

h1{
  padding-top: 20px;
  text-align: center;
}
.pod {
  width: 500px;
  height: 500px;
  position: relative;
  display: inline-block;
  margin: 10px;
}
.pod .pod-fill {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.pod:hover .pod-fill {
  display: inline;
}

.container{
  color: black;

}

h3{
  padding-left: 30px;
font-size: 30px;
line-height:40px;
}

p{padding: 30px;}


.article{
  width: 50%;
  height: 800px;
  background: yellow;
  float: left;
  line-height: 25px;
  overflow: scroll;
}

.reviews{
  font-weight: bold;
  font-size: 30px;
  width: 50%;
  height: 800px;
  background: rgb(107, 255, 157);
  float: left;
  overflow: scroll;
}