* { box-sizing: border-box; }
ul{
  margin:0;
  padding:0;
  list-style-type: none;}
a:link{text-decoration: none;
color:black;}
p{margin:0;}

body{
	padding:0;
	margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo{ 
  font-size: 62px;
position: fixed;
margin-left: 30px;
margin-top: 30px;
}

.container{
  display: inline-block;
  margin-top:120px;
}

.vertical-nav{
  margin-top: 200px;
  margin-left: 30px;
	font-size: 24px;
	width: 140px;
  height: 100%;
  float: left;
  position: fixed;
}
.button{
  margin-top: 400px;
}


.artist{
  float: left;
  font-size: 155px;
  text-align: center;
  font-weight: bold;
  width: 290px;
  margin-left: 90px;
  position: fixed;
  
}

/* Content starts here */
.jie-page{
  float: left;
  width: 900px;
  margin-left: 60%;
  
}

p1{
  font-weight: bold;
  font-size:28px;
  text-align: right;
}

p{
  font-size:28px;
  margin-bottom: 35px;
  
}

.jie-page p{ 
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

 .img_wrap{position: relative;}

 .img_description{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  visibility: hidden;
  opacity: 0;
 }

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
}

.d1{
  font-size: 200px;
  text-align: left;
  font-family: serif;
  -webkit-text-stroke-color: rgb(255, 0, 0);
  -webkit-text-stroke-width: 3px;
  -webkit-text-fill-color: transparent;
}

.d2{
  color: black;
  width: 500px;
  font-size: 20px;
  font-weight: bold;
  font-family: serif;
}



/* marquee animation */
.quote{
font-size: 50px;
color: rgb(240, 240, 240);
position: fixed;
top: 0;


-moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: quote 8s linear infinite;
 -webkit-animation: quote 8s linear infinite;
 animation: quote 8s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes quote {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes quote {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes quote {
 0%   { 
 -moz-transform: translateX(100%); 
 -webkit-transform: translateX(100%); 
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%);
 -webkit-transform: translateX(-100%); 
 transform: translateX(-100%); 
 }
}