/* defult navigation style  */
* { box-sizing: border-box; }
ul{
  margin:0;
  padding:0;
  list-style-type: none;
  font-size: 28px;
  border-top: .5px solid gray;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container a:link{
  text-decoration: none;
  color:black;
}

body{
	padding:0;
	margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo{ 
  font-size: 62px;
  position: fixed;
  margin-left: 30px;
  margin-top: 30px;
}

.vertical-nav{
  margin-top: 200px;
  margin-left: 30px;
	width: 10%;
  height: 100%;
  float: left;
  position: fixed;
}

a:hover{ color:rgb(0, 245, 253); }
/* Navigation style end */



/* Content starts here */
.vincy-page{
  float: left;
  width: 900px;
  margin-left: 30%; 
  margin-top: 80px;
}
.chat-name{ 
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid black;}

p {
  font-size:28px;
  margin-bottom: 35px;
}

.question {
  font-weight: bold;
  font-size:28px;
  margin-left: 3em;
}

.answer {
  margin-right: 3em;
}

.vincy-page p{ 
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}
/* bubble style */

.answer img{ width: 100%;}
}

/* marquee animation */
.quote{
  font-size: 50px;
  color: rgb(235, 255, 163);
  position: fixed;
  top: 0;
  width: 1800px;
  
  
  -moz-transform:translateX(100%);
   -webkit-transform:translateX(100%);	
   transform:translateX(100%);
   /* Apply animation to this element */	
   -moz-animation: quote 8s linear infinite;
   -webkit-animation: quote 8s linear infinite;
   animation: quote 8s linear infinite;
  }
  /* Move it (define the animation) */
  @-moz-keyframes quote {
   0%   { -moz-transform: translateX(100%); }
   100% { -moz-transform: translateX(-100%); }
  }
  @-webkit-keyframes quote {
   0%   { -webkit-transform: translateX(100%); }
   100% { -webkit-transform: translateX(-100%); }
  }
  @keyframes quote {
   0%   { 
   -moz-transform: translateX(100%); 
   -webkit-transform: translateX(100%); 
   transform: translateX(100%); 		
   }
   100% { 
   -moz-transform: translateX(-100%);
   -webkit-transform: translateX(-100%); 
   transform: translateX(-100%); 
   }
  }