/* defult navigation style  */
* { box-sizing: border-box; }

a:link{
  text-decoration: none;
  color:black;
}
a:visited { color: #000000;}
a:hover{ color:rgb(182, 182, 182); }

body{
	padding:0;
	margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo{ 
  font-size: 62px;
  position: fixed;
  padding:20px;
}

.vertical-nav{
	width: 15%;
  height: 100%;
  float: left;
  position: fixed;
  border-right: 2px solid #000000;
  background: #fff;
}
.vertical-nav ul{
  margin:0;
  padding:0;
  list-style-type: none;
  font-size: 28px;
  border-top: 2px solid #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}
@media all and (max-width:900px){
  .vertical-nav ul{
    font-size: 16px;
  }
}
@media all and (max-width:560px){
  .vertical-nav{ 
    width: 96px; 
  }
  .content-page { margin-left:13%;}
  
}

.friends{ 
  padding-top: 200px;
  padding-left:30px;
}



.jie .n1 { background: #fa0f0f; }
.vincy .n2 { background: #eeff03; }
.da .n3 { background: #2df812; }
.n3{ border-bottom: 2px solid #000000;}
  





/* Content starts here */

.content-page{
  float: left;
  width: 85%;
  margin-left: 15%;
}

.content-page p{ 
  border-style: solid;
  border-radius: 10px;
  padding: 10px 15px;
}

.chat-name{ 
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-top: 30px;
  padding-bottom: 20px;
  position: fixed;
  width: 85%;
  background: #fff;
}

.content{ 
  padding: 100px 100px 20px 100px;
  background: #fff;
}

  @media all and (max-width:900px){
    .content{ padding: 100px 10px 20px 30px;}}

  @media all and (max-width:600px){
    .content{ padding: 100px 10px 20px 50px;}}

.profile img{
  width: 80px;
  height: 80px;
  background: #000000;
  border-radius: 40px;
}

p {
  font-size:28px;
  margin-bottom: 35px;
}

.question {
  font-weight: bold;
  font-size:28px;
  margin-left: 8em;
}


.answer p{
  margin-right: 8em;
  background: rgb(231, 231, 231);
}

@media all and (max-width:900px){
  .question{ 
    font-size: 16px;
    margin-left: 1em;
  }
  .answer p{
    font-size: 16px;
    margin-right: 1em;
  }
  
}
@media all and (max-width:600px){
  .question{ margin-left:0;}
  .answer p{ margin-right: 0;}
}


.answer img{
  width: 100px;
}
.answer.expanded img{
  width: 100%;
}


.jie .answer p{
  background:#fa0f0f;
}
.vincy .answer p{
  background:#eeff03;
}
.da .answer p{
  background:#2df812;
}


/* bubble style */
.jie-work{ display:inline-block;}
.jie-work img{ 
  width: 50%;
  float:left;
}








/* message animation */
.message {
  height: 50px;
  width: 80px;
  background-color: #ececec;
  border-radius: 50px;
}

.message::before{
  content: '';
  border: solid 20px;
  border-color: transparent transparent #ececec;
  position: relative;
}

.message.center{
  position: absolute;
  top: 50%;
  left:55%;
  transform: translate(-50%,-50%);
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #aaa;
  opacity: 0.3;
  border-radius: 50%;
  position: relative;
  -webkit-animation: dots .9s ease-in-out infinite;
  animation: dots .9s ease-in-out infinite;
}

.dot.left{
  margin-left: 12px;
}

.dot.center {
  top: -15px;
  left: 32px;
  -webkit-animation-delay: 0.3s;
}

.dot.right {
  top: -30px;
  left: 52px;
  -webkit-animation-delay: 0.6s;
}

@-webkit-keyframes dots {
  0%{
    opacity: 1;
  }
}

@keyframes dots {
  0%{
    opacity: 1;
  }
}








