/* defult navigation style  */
* { box-sizing: border-box; }
ul{
  margin:0;
  padding:0;
  list-style-type: none;
  font-size: 28px;
  border-top: .5px solid gray;
  padding-top: 20px;
  padding-bottom: 20px;
}
a:link{
  text-decoration: none;
  color:black;
}

body{
	padding:0;
	margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo{ 
  font-size: 62px;
  position: fixed;
  margin-left: 30px;
  margin-top: 30px;
}

.vertical-nav{
  margin-top: 200px;
  margin-left: 30px;
	width: 10%;
  height: 100%;
  float: left;
  position: fixed;
}

a:hover{ color:rgb(0, 245, 253); }
/* Navigation style end */



/* Content starts here */
.content-page{
  float: left;
  width: 900px;
  margin-left: 30%; 
  margin-top: 80px;
}
.chat-name{ 
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid black;}

p {
  font-size:28px;
  margin-bottom: 35px;
}

.question {
  font-weight: bold;
  font-size:28px;
  margin-left: 3em;
}

.answer {
  margin-right: 3em;
}

.content-page p{ 
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}
/* bubble style */



 .img_wrap { 
   position: relative; 
  }

  img{ width: 400px; }


/* message animation */
.message {
  height: 50px;
  width: 80px;
  background-color: #ececec;
  border-radius: 50px;
}

.message::before{
  content: '';
  border: solid 20px;
  border-color: transparent transparent #ececec;
  position: relative;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #aaa;
  opacity: 0.3;
  border-radius: 50%;
  position: relative;
  -webkit-animation: dots .9s ease-in-out infinite;
  animation: dots .9s ease-in-out infinite;
}

.dot.left{
  margin-left: 12px;
}

.dot.center {
  top: -15px;
  left: 32px;
  -webkit-animation-delay: 0.3s;
}

.dot.right {
  top: -30px;
  left: 52px;
  -webkit-animation-delay: 0.6s;
}

@-webkit-keyframes dots {
  0%{
    opacity: 1;
  }
}

@keyframes dots {
  0%{
    opacity: 1;
  }
}
